@font-face {
    font-family: norse;
    src: url(Norse-Bold.otf);
}

@font-face {
    font-family: prompt-medium;
    src: url(Prompt-Medium.ttf);
}

@font-face {
    font-family: josefinSans-medium;
    src: url(JosefinSans-Medium.ttf);
}

*{
    padding: 0;
    margin: 0;
}



.container{
    display: flex;
    height: 100vh;
}


.left{
    flex-grow: 1;
    width: 40%;
    background-image: url("background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}


.right{
    background-color: #e7e9e6;
    padding-left: 2rem;
    width: 60%;
}


.odin{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0, 0, 0.5);
    width: 100%;
}

.odin h3{
    font-family: norse;
    color: white;
    font-size: 5rem;
}

span{
    position: absolute;
    bottom: 0;
    align-content: center;
    color: white;
}


.left img{
    width: 6rem;
    height: 6rem;
}


.form-container{
    display: flex;
    flex-wrap: wrap;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.123);
    margin-bottom: 1.5rem;
    height: 15rem;
    background-color: rgba(0, 0, 0, 0);
    font-family: josefinSans-medium;
    font-size: 0.8rem;
    margin-right: 2rem;
  }

.form-container h1{
    width: 100%;
}

.input{
    width: 50%;
}

.input label{
    display: block;
}

.input input{
    height: 1.5rem;
    width: 80%;
}

.left a{
    color: white;
}

#createbutton{
    background-color: #596D48;
    border-radius: 10px;
    width: 10rem;
    height: 2.5rem;
    color: white;
    font-weight: 550;
    margin-bottom: 1.5rem;

}

.right a {
    color: #596D48;
    text-decoration: none;
}

.text{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    font-family: prompt-medium;

}

.text p:nth-child(3){
    padding-top: 2rem;
}

